* {
  margin: 0;
  background-color: #273c75;
}
input[type="range"].range-slider {
  background-color: red;
  color: pink;
  background: none;
  background-color: red;
}
.content {
  background-color: #192a56;
}
